@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="container">
        <h1>
            <span class="fa fa-arrow-up"></span>
            Ascension
        </h1>
        <p>
            Where technology ascends
        </p>
    </div>
</div>

<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-6">
                <h1>United</h1>
                <p class="lead">Mini and minimalist</p>
            </div>
            <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
            </div>
        </div>
    </div>

    <div class="body-content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu suscipit lorem, consectetur ultrices tortor. Donec faucibus orci vel tellus pulvinar lobortis. Nullam porta laoreet dapibus. Integer mi massa, ullamcorper varius sapien in, facilisis viverra mi. Vestibulum accumsan imperdiet bibendum. Praesent accumsan mollis nisi, sit amet pulvinar massa convallis a. Proin in justo felis. Proin nec sapien et massa rutrum luctus ac tincidunt libero. Curabitur luctus consectetur dignissim. Pellentesque hendrerit, enim in bibendum tristique, mauris nunc vestibulum purus, ut ullamcorper velit libero id magna. Morbi dictum enim lacinia arcu congue, a venenatis velit blandit.
        </p>
        <p>
            Phasellus vehicula tempus turpis, nec vehicula ante. Ut euismod justo eleifend ornare lobortis. Integer eget malesuada turpis. Vestibulum non lacus volutpat est ultrices imperdiet. Nullam feugiat in dui ut egestas. Aliquam sed sollicitudin libero. Aenean at tellus sed velit cursus venenatis porttitor vel sapien. Nulla vitae tellus augue. Aliquam at condimentum enim. Sed adipiscing consequat nulla, non ultricies diam ultrices nec. Nunc feugiat porttitor eros sit amet fringilla. Praesent volutpat fermentum turpis, id cursus lacus. Integer magna tortor, ultrices at nisi a, ornare feugiat arcu. Maecenas auctor tellus vel rutrum cursus. Etiam aliquet felis sed consequat consectetur. Ut auctor lobortis lacus vitae vehicula.
        </p>
        <p>
            Curabitur iaculis rutrum turpis porta fermentum. Vestibulum laoreet dui ut enim egestas condimentum. Quisque nulla dui, elementum ut quam nec, molestie laoreet dolor. Aliquam luctus in arcu ut luctus. Suspendisse potenti. Morbi purus mauris, luctus eu sapien eget, varius aliquam elit. Mauris consectetur augue non magna iaculis, ac accumsan risus consectetur. Nunc ut lacus vitae eros aliquet auctor eu tincidunt lectus. Proin et tortor ac quam aliquet aliquet.
        </p>
        <p>
            Etiam tellus diam, posuere eget quam at, convallis luctus enim. Nunc tincidunt facilisis metus fringilla egestas. Nullam vitae dictum lectus. Fusce ullamcorper luctus mauris, vel luctus urna malesuada in. Duis vitae sapien vehicula, fermentum est consequat, vehicula ante. Curabitur quis sapien a libero venenatis feugiat. Quisque in mi in tellus luctus consectetur non mollis nibh. Sed quis tortor orci. Donec in dui et dolor dignissim vulputate. Praesent accumsan ipsum et faucibus vulputate. Sed vel tortor pulvinar, mollis felis sit amet, facilisis nisi. Donec nec lacinia enim. Vivamus auctor ultricies purus sit amet pharetra. Ut nec magna varius, convallis justo eu, fermentum felis. Nulla hendrerit, metus tempor tristique rutrum, purus sem condimentum purus, at dignissim nisi lorem et dolor. Sed auctor at erat vitae tempus.
        </p>
        <p>
            Donec sit amet lacinia libero. Praesent lacinia tincidunt fringilla. Maecenas viverra congue nisl, nec interdum ligula mattis cursus. Nunc pulvinar fermentum hendrerit. Proin viverra, leo vel molestie tempor, nulla sem congue urna, sit amet luctus ante justo id massa. Donec luctus mauris lacus, sed vulputate metus hendrerit non. In sit amet sem non tortor consequat feugiat. Phasellus nec erat nec ante aliquam mattis. Maecenas vitae ipsum sed leo euismod gravida. In hac habitasse platea dictumst. Curabitur malesuada eget lacus sed semper.
        </p>
        <p>
            Phasellus mollis, nisi non porta tincidunt, mi nulla ullamcorper magna, a rhoncus enim augue at sapien. Nulla at sem eget erat ultricies consequat. Aenean lacinia ipsum metus, in iaculis justo molestie vitae. Vivamus odio dui, malesuada eu mollis ac, euismod eget mauris. Sed malesuada velit eget quam placerat congue eu ac augue. Duis euismod pellentesque tortor in tincidunt. Proin sagittis et nisl ac consequat. Phasellus pharetra turpis vitae fermentum convallis. Aliquam et lorem ultricies, posuere sapien at, accumsan massa. Curabitur a turpis non est placerat aliquet.
        </p>
        <p>
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent nisl mi, faucibus sed magna eget, commodo dignissim quam. Proin sem turpis, elementum et purus vitae, tristique auctor mauris. Nam venenatis interdum justo eu ultrices. Donec dictum magna at euismod condimentum. Integer iaculis elit metus, a sollicitudin tellus venenatis eu. Ut ultrices ipsum in dictum cursus. Pellentesque porta ligula urna, ut accumsan magna facilisis facilisis. Vivamus ut metus sed enim dictum tincidunt non tempor sapien.
        </p>
        <p>
            Aliquam erat volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent consectetur consequat neque, ac varius tortor vehicula nec. Proin congue, ante quis interdum dignissim, nisl magna tempor metus, eget dignissim mi ipsum congue ante. Pellentesque et dui tempor, rhoncus odio sed, volutpat tellus. Curabitur aliquet luctus felis, non fringilla nibh interdum vitae. Sed ultricies mauris ornare scelerisque facilisis. Donec ut purus ut tortor tincidunt elementum in a enim. Mauris dignissim nibh augue, et iaculis magna suscipit sit amet.
        </p>
        <p>
            Nunc interdum, odio non aliquam malesuada, enim libero suscipit nunc, quis molestie nibh felis eu lorem. Vivamus vel viverra lorem. Etiam tincidunt dapibus molestie. Maecenas ultricies lorem et arcu ullamcorper tincidunt. Aenean et ante condimentum, consequat massa sit amet, cursus arcu. Proin placerat nisl non tellus iaculis, vel dictum orci imperdiet. Pellentesque tempus faucibus lectus, id aliquet justo scelerisque ac. Nulla vulputate diam dolor, eget dictum leo scelerisque ut. Donec suscipit eros ante, vitae consectetur massa tempor vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac dictum nisl.
        </p>
        <p>
            Etiam consequat nisl sed ante adipiscing tristique. Nunc interdum molestie lacus, eu auctor felis egestas nec. Sed ornare porta gravida. Suspendisse semper et sem nec placerat. Integer in leo non purus posuere dictum sed condimentum diam. Donec ac quam ut nisi gravida tincidunt eget in felis. Vivamus vitae vehicula arcu, vitae posuere magna. Donec luctus sollicitudin eros, non mattis neque rutrum et. Quisque lobortis mi at risus egestas, et rhoncus metus rutrum.
        </p>

        <br />
    </div>

</div>